@use '../../../styles/color-palette.scss' as *;

.label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  color: $black-0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 0.5rem;
}

.required {
  @extend .label;
  color: $red-1;
}

.input {
  max-width: 297px;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  outline: 0;
  border-radius: 6px;
  border: 1px solid $gray-4;
  background: $orange-3;
  font-weight: 400;
  font-size: 14px;
  color: $gray-4;
}
