@use '../../../../styles/color-palette.scss' as *;
@use '../../../../styles/mixins.scss' as *;

.faq-block {
  &__title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 147%;
    color: $black-0;
    margin: 2rem 0;
  }
}
