@use '../../styles/color-palette.scss' as *;
@use '../../styles/mixins.scss' as *;

.exchangeRate {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(to bottom, $gray-2, $gray-3);
  padding: 2rem;
}

.title {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 50px;
  color: $black-2;
  margin-bottom: 24px;
}

.updateInfo {
  font-weight: 500;
  font-size: 1rem;
  line-height: 50px;
  color: $black-0;
}

.table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.tableTitle {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 50px;
  color: $black-0;
  margin-bottom: 1rem;
}

.link {
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 2%;
  color: $white-1;
}

.list {
  display: grid;
  padding-left: 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 500px) {
  .exchangeRate {
    padding: 1%;
  }

  .wrapper {
    width: 100%;
    border-radius: 24px;
    background: linear-gradient(to bottom, $gray-2, $gray-3);
    padding: 1rem;
  }
  .title {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .updateInfo {
    font-size: 0.5rem;
  }

  .tableTitle {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .bank {
    width: 90px;
  }
  .link {
    font-weight: 700;
    font-size: 14px;
    line-height: 112%;
    letter-spacing: 2%;
    color: $white-1;
  }
  .table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
}
