@use '../../styles/color-palette.scss' as *;
@use '../../styles/mixins.scss' as *;

.exchangeRate {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.wrapper {
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(to bottom, $gray-2, $gray-3);
}

.title {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 50px;
  color: $black-2;
}

.updateInfo {
  font-weight: 500;
  font-size: 1rem;
  line-height: 50px;
  color: $black-0;
}

.tableTitle {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 50px;
  color: $black-0;
}
