@use '../../../styles/color-palette.scss' as *;

.loan-page {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
  margin-bottom: 6rem;

  &__nav {
    position: relative;
  }

  &__nav-list {
    display: flex;
    gap: 2rem;
    padding-left: 0.5rem;
    position: relative;
    z-index: 2;
  }

  &__nav-link {
    font-weight: 500;
    font-size: 1rem;
    color: $brown-1;
    padding-bottom: 0.5rem;
    display: inline-block;
    transition: color 0.3s;
  }

  &__tab-line {
    position: relative;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.2);
    width: 100%;
    margin-top: 0.25rem;
    overflow: hidden;
  }

  &__tab-indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: green;
    transition:
      left 0.3s ease,
      width 0.3s ease;
  }
}
