@use '../../styles/color-palette.scss' as *;
@use '../../styles/mixins.scss' as *;

.header {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2%;
  line-height: 112%;
  color: $logo-color;
  cursor: pointer;
}

.menuLink {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2%;
  line-height: 112%;
  color: $black-1;
}

.button {
  width: 8rem;
  height: 3.125rem;
  letter-spacing: 2%;
  line-height: 112%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
}

@media (max-width: 500px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
