@use '../../../styles/color-palette.scss' as *;
@use '../../../styles/mixins.scss' as *;

.customize-card {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
  &__container {
    background: $white-1;
    padding: 2rem;
    border-radius: 28px;
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 0 8px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 6rem;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 100%;
    color: $black-0;
  }
  &__step {
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    color: $black-0;
  }
  &__label {
    @extend .customize-card__step;
  }
  &__selected-amount {
    @extend .customize-card__step;
  }
  &__min-amount {
    @extend .customize-card__step;
    color: $brown-2;
  }
  &__max-amount {
    @extend .customize-card__step;
    color: $brown-2;
  }
  &__chosen-title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 100%;
    color: $black-0;
  }
  &__chosen-sum {
    @extend .customize-card__step;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1.625rem;
  }
  &__form-title {
    @extend .customize-card__chosen-title;
  }
  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1.5rem;
  }
  &__btn-submit {
    border-radius: 8px;
    padding: 1rem 2rem;
  }
}
