@use '../../../../styles/color-palette.scss' as *;
// @use '../../../styles/mixins.scss' as *;

.card-info {
  padding-top: 1rem;

  &__item {
    max-width: 1016px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;

    border-bottom: 2px solid $gray-8;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    &:last-child {
      border-bottom: none;
    }
  }
  &__label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    color: $black-0;
  }

  &__value {
    @extend .card-info__label;
    color: $gray-9;
  }
}
